<div class="side">
    <input type="checkbox" id="ham">
    <label for="ham" class="d-flex py-auto"><i class="fa-solid fa-bars"></i></label>
        
    <div class="slide">
        <div class="Nnav">
            <nav>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class="Ploc fa-solid fa-location"></i><span class="mx-1">Palnadu</span> </a>
            <a  class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Achampeta</span> </a>
            <a  class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Amaravati</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Bellamkonda</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Bollapalli</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Chilakaluripet</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Dachepalli</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Durgi</span></a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Edlapadu</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Gurazala</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Ipuru</span></a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Karempudi</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Krosuru</span></a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Machavaram</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Macherla</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Muppalla</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Nadendla</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Narasaraopet</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Nekarikallu</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Nuzendla</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Pedakurapadu</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Piduguralla</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Rajupalem</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Rentachintala</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Rompicherla</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Sattenapalle</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Savalyapuram</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Veldurthy</span> </a>
            <a class="list-group-item border-0 d-inline-block py-3 px-4"  data-bs-parent="#sidebar">
                <i class=" Iloc fa-solid fa-location"></i><span class="mx-1">Vinukonda</span> </a>
            </nav>
        </div>
    </div>
</div>
