<div class="container-fluid p-0">
    <div class="">
        <div class="nav col ps-md-2 pt-2">
            <div class="sidebar" >
                <app-sidebar></app-sidebar>
            </div>
            <p class="m-0">Government of Andhra Pradesh</p>
            <div class="user center border border-warning"></div>
        </div>
        <div class="container">
            <div class="sub-container grid">
                <div class="main-div grid-1">
                    <div class="main-card name-l main-clr">
                        <p>{{Total_reports}}</p>
                        <p>Total reports</p>
                    </div>
                    <div class="main-card name-l main-clr">
                        <p>{{Today_reports}}</p>
                        <p>Todays reports</p>
                    </div>
                </div>
                
                    <div class="grid-2 span-row-2">
                        <div class="card name-s clr-beg">
                            <p class="">{{Begging}}</p>
                            <p>begging</p>
                        </div>
                        <div class="card name-s clr-htl">
                            <p class="">{{Hotels}}</p>
                            <p>hotel</p>
                        </div>
                        <div class="card name-s clr-shop">
                            <p class="">{{pvt}}</p>
                            <p>shop/pvt sector</p>
                        </div>
                        <div class="card name-s clr-rail">
                            <p class="">{{rail}}</p>
                            <p>railway station</p>
                        </div>
                        <div class="card name-s clr-brk">
                            <p class="">{{brick}}</p>
                            <p>brick klins</p>
                        </div>
                        <div class="card name-s clr-fact">
                            <p class="">{{Factories}}</p>
                            <p>factories</p>
                        </div>
                        <div class="card name-s clr-cons">
                            <p class="">{{Construction}}</p>
                            <p>construction</p>
                        </div>
                        <div class="card name-s clr-oth">
                            <p class="">{{other}}</p>
                            <p>others</p>
                        </div>
                    </div>
                
                <!-- <div class="bar-chart"><app-bar-chart></app-bar-chart></div> -->
                

            </div>

        </div>
    </div>
</div>